.radio-page-body {
    background-color: #7c8c8f !important;    
}

.radio-page-body h1 {
    margin-bottom: 0 !important;
}

.radio-page-transparency {
    background: transparent !important;
    border: none !important;
    padding: 10px;
    color: white;
    display: flex;
}

.radio-page-card {
    background: #8ea0a3;
}

.clubjam-logo {
    display: flex;
    width: 150px;      
}

.radio-page-card-title {
    font-weight: 800;
}

/* @media screen and (max-width: ) */