.radio-page-body {
  background-color: #7c8c8f !important;
}

.radio-page-transparency {
  background: transparent !important;
  border: none !important;
  padding: 10px;
  color: white;
  display: flex;
}

.radio-page-card {
  background: #8ea0a3;
}

.radio-page-title,
.radio-page-card-title {
  font-weight: 800;
  font-size: x-large;
  text-align: center;    
}

.radio-page-title {
  color: yellow;
  padding-top: 15px;
  padding-bottom: 10;  
}

/* @media screen and (max-width: ) */
