.contact-page-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://pbs.twimg.com/media/EzlfEH-VIAMdsHT?format=jpg&name=large');
  background-position: center;
  min-height: 80vh;  
}

.contact-page-transparency {
  background: transparent !important;
}

.contact-card-body {
  background: transparent !important;  
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px !important;
}

.contact-card-text-background {
  background: linear-gradient(rgba(37, 37, 37, 0.6), rgba(0, 0, 0, 0.6));
  opacity: 1;   
}

.contact-card-text {
  color: white;
  font-weight: 400;  
}

.contact-card-title {
  font-size: x-large; 
  padding: 2px;
  margin-bottom: 30px;
}

.contact-item {
  display: flex;
  justify-content: center;  
}

.contact-item i {
  margin-right: 10px;
}

.contact-icon:hover {
  color: yellow !important;
}

@media screen and (max-width: 470px) {
  .contact-card-text-background {
    background: none;
  }
}

