.footer {
    display: block;
    background-color: #2a4e85 !important;    
    border-top: 5px solid black;
    padding: 15px;       
}

.footer-text {
    font-size: small; 
    color: white !important;
    text-align: center;
}