.carousel-element {
  height: 200px;
  object-fit: cover;  
}

.carousel-element-one {
  object-position: 37% 37%;  
}

.carousel-element-three {
  object-position: 30% 30%;
}

.carousel-element-caption-right {
  text-align: right !important;
}

.carousel-element-caption-left {
  text-align: left !important;
}

/* .carousel-caption {
    text-shadow: 0px 0px 5px rgb(243, 243, 94);
} */

.carousel-item > img {
  width: 100%;  
}

@media screen and (max-width: 540px) {
  .carousel-element {
    height: 400px;
  }
}
