.title-bar {
    text-align: center;
    background-color: lightslategray;
    color: white;
    padding: 20px 0;  
  }


.mcb-title {
  font-size: 3vh;
}

.social-icons,
.page-links {
  display: flex;
  justify-content:space-around;
  font-size:large;
}

a {
  color: white !important;
}
  