.title-bar {
    text-align: center;
    background-color: lightslategray;
    color: white;
    padding: 20px 0;  
  }

.social-icons,
.page-links {
  display: flex;
  justify-content:space-around;
}
  