.card-border {
    border: none !important;    
}

.content-body {    
    color: #282D2E;
}

/* .mcb-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;    
  } */


@media screen and (max-width: 550px) {
    .page-body-contents {
        display: flex;
        flex-direction: column;
    }
    /* .mcb-logo {
        width: fit-content;
        
    } */
}    