.footer-page-text,
.footer-page-title {
    text-align: center; 
    color: white;    
}

.footer-page-title {
    padding: 30px;
    font-weight: 600;
}

.footer-page-body {
    background-color: rgb(106, 123, 170) !important;
    padding: 30px;      
}

.footer-page-button-row {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}