.dev-page-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(34, 34, 34, 0.6)),
    url('../../images/code-image.jpg');
  background-size: cover;
  background-attachment: fixed;  
  background-position: right bottom;  
  height: auto;
}

.dev-page-transparency {
  background: transparent !important;
  border: none !important;
  padding: 10px;
  color: white;
  display: flex;
}

.dev-page-card {
  background: #41494b;
  padding: 20px !important;
}

.dev-page-title,
.dev-page-card-title {
  font-weight: 800;
  font-size: x-large;
}

.dev-page-card-title,
.dev-page-text,
.dev-page-title {
  text-align: center;
}

.dev-page-title {
  color: yellow;
  padding-top: 15px;
  padding-bottom: 10px;
}

.dev-page-button-row {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

@media screen and (max-width: 280px) {
  .dev-page-button-row {
    padding: 0px;
  }
}
