.devpage-title {
  text-align: center;
}

.devpage-card {
  width: auto !important;  
  margin: 5%;  
  color: white;  
}

.devpage-card-content-body {
  background: transparent !important;
}

.devpage-card-body-text-background {
  background: linear-gradient(#447dd3, #2a4e85);
  opacity: 1;
}

.devpage-card-title {    
    position: absolute;         
    margin: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -100%)
}

.devpage-card img {
  width: 100px;
  display: table;
  margin: 0 auto;
}

.devpage-button-row {
    display: flex;
    justify-content: space-around;
  }


